html {
 padding: 0;
 margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
/* CSS for the navigation bar */
.navBar {
  /* position: absolute; */
  width: 100%;
  height: 50px;
  background-color: rgba(49, 149, 237, 0.3);
  float: none;
}

.navContainer {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: inline-block;
  font-size: 1.1em;
  color: rgba(15, 15, 15, 0.8);
  /* border: 2px solid rgba(49, 149, 237, 0.85); */
  width: 12.5em;
  height: 95%;
}

.navContainer > div {
  font-weight: 500;
  padding: 1rem 1rem;
}

.navContainer > div:hover {
    background-color: rgba(49, 149, 237, 0.4);
    cursor: pointer;
}

.navContainer > div > a::after {
  content: " \25B6";
  font-size: 13px;
}

.dropDown {
  font-weight: 100;
  position: absolute;
  display: none;
  background-color: rgba(49, 149, 237, 0.3);
  border: 2px solid rgba(49, 149, 237, 0.85);
  border-radius: 0.25rem;
  width: 12.5em;
  top: 2.5em;

}

.show {
  display: block;
}

.dropDown li {
  border-radius: 0.25rem solid black;
  cursor: pointer;
}

.dropDown li:hover {
  background-color: rgba(49, 149, 237, 0.4);
}

.dropDown li a {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  position: relative;
  padding: 0.5rem 0;
}

/* Slider component of navigation menu */
.sliderContainer {
  padding: 1em 1em;
  float: right;
  display: inline-block;
  width: 40%;
}

.sliderContainer p {
  padding: 0 auto;
  margin: 0 auto;
  font-size: 12px;
  float: left;
  display: inline;
}

.slider {
  -webkit-appearance: none;
  float: right;
  outline: none;
  background-color: rgba(237, 237, 237, 0.9);
  height: 1em;
  width: 70%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.8em;
  height: 1.8em;
  background-color: rgba(49, 149, 237, 0.9);
  border-radius: 0.7rem;
  cursor: pointer;
}


/* CSS for the bar container */
.vBarBox {
  margin: 0 auto;
  height: 45vh;
  /* transform: rotateX(180deg); */
}

.bar {
  display: inline-block;
  background-color: rgb(222, 222, 222);
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.barUpdating {
  background-color: gray;
}

/* CSS for the sort button */

.buttonContainer {
  display: inline;
  padding-left: 17%;
}

.customButton {
  width: 25%;
  height: 2em;
  font-size: 0.9em;
  margin-left: 2em;
  border-radius: 0.25rem;
  display: inline-block;
  transition: 0.2s ease-in;
}

.sort {
  background-color: rgb(80, 156, 255);
}

.sort:hover {
  background-color: rgba(80, 156, 255, 0.6);
}

.refresh {
  background-color: rgb(80, 255, 156);
}

.refresh:hover {
  background-color: rgba(80, 255, 156, 0.6);
}

.customButton:hover {
  cursor: pointer;
  transition: 0.2s ease-out;
}

.customButton:focus {
  outline: none;
}
